<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Combinaison-des-propriétés-des-logements" data-toc-modified-id="Combinaison-des-propriétés-des-logements-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Combinaison des propriétés des logements</a></span><ul class="toc-item"><li><span><a href="#Attribution-des-valeurs-de-chaque-propriété-par-listes" data-toc-modified-id="Attribution-des-valeurs-de-chaque-propriété-par-listes-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Attribution des valeurs de chaque propriété par listes</a></span></li><li><span><a href="#Combinaison-des-listes-de-valeurs-par-une-liste-à-deux-dimensions" data-toc-modified-id="Combinaison-des-listes-de-valeurs-par-une-liste-à-deux-dimensions-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Combinaison des listes de valeurs par une liste à deux dimensions</a></span></li><li><span><a href="#Création-d’une-liste-à-deux-dimensions-du-produit-cartésien" data-toc-modified-id="Création-d’une-liste-à-deux-dimensions-du-produit-cartésien-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Création d’une liste à deux dimensions du produit cartésien</a></span></li></ul></li><li><span><a href="#Instanciation-des-logements" data-toc-modified-id="Instanciation-des-logements-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Instanciation des logements</a></span><ul class="toc-item"><li><span><a href="#Création-d’une-classe-pour-un-type-de-logement" data-toc-modified-id="Création-d’une-classe-pour-un-type-de-logement-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Création d’une classe pour un type de logement</a></span></li><li><span><a href="#Instanciation-de-la-classe-de-logement-à-une-liste-à-deux-dimensions" data-toc-modified-id="Instanciation-de-la-classe-de-logement-à-une-liste-à-deux-dimensions-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Instanciation de la classe de logement à une liste à deux dimensions</a></span></li></ul></li><li><span><a href="#Combinaisons-du-calcul-économique" data-toc-modified-id="Combinaisons-du-calcul-économique-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Combinaisons du calcul économique</a></span><ul class="toc-item"><li><span><a href="#Création-du-DataFrame-selon-la-liste-de-combinaison-des-propriétés" data-toc-modified-id="Création-du-DataFrame-selon-la-liste-de-combinaison-des-propriétés-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Création du DataFrame selon la liste de combinaison des propriétés</a></span></li><li><span><a href="#Calcul-économique-en-utilisant-des-formules-uniformes" data-toc-modified-id="Calcul-économique-en-utilisant-des-formules-uniformes-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Calcul économique en utilisant des formules uniformes</a></span></li><li><span><a href="#Calcul-économique-en-utilisant-des-formules-à-partir-de-booléen" data-toc-modified-id="Calcul-économique-en-utilisant-des-formules-à-partir-de-booléen-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>Calcul économique en utilisant des formules à partir de booléen</a></span></li><li><span><a href="#Calcul-économique-en-utilisant-des-formules-à-partir-d’un-intervalle-sélectionné" data-toc-modified-id="Calcul-économique-en-utilisant-des-formules-à-partir-d’un-intervalle-sélectionné-3.4"><span class="toc-item-num">3.4&nbsp;&nbsp;</span>Calcul économique en utilisant des formules à partir d’un intervalle sélectionné</a></span></li><li><span><a href="#Calcul-économique-en-matrice-à-partir-de-booléen" data-toc-modified-id="Calcul-économique-en-matrice-à-partir-de-booléen-3.5"><span class="toc-item-num">3.5&nbsp;&nbsp;</span>Calcul économique en matrice à partir de booléen</a></span></li><li><span><a href="#Calcul-économique-en-utilisant-des-fonctions" data-toc-modified-id="Calcul-économique-en-utilisant-des-fonctions-3.6"><span class="toc-item-num">3.6&nbsp;&nbsp;</span>Calcul économique en utilisant des fonctions</a></span><ul class="toc-item"><li><span><a href="#La-bonne-performance" data-toc-modified-id="La-bonne-performance-3.6.1"><span class="toc-item-num">3.6.1&nbsp;&nbsp;</span>La bonne performance</a></span></li><li><span><a href="#La-mauvaise-performance" data-toc-modified-id="La-mauvaise-performance-3.6.2"><span class="toc-item-num">3.6.2&nbsp;&nbsp;</span>La mauvaise performance</a></span></li></ul></li></ul></li><li><span><a href="#Jointure-de-table" data-toc-modified-id="Jointure-de-table-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Jointure de table</a></span></li><li><span><a href="#Calcul-du-minimum-par-logement" data-toc-modified-id="Calcul-du-minimum-par-logement-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Calcul du minimum par logement</a></span><ul class="toc-item"><li><span><a href="#Calcul-avec-des-sorts" data-toc-modified-id="Calcul-avec-des-sorts-5.1"><span class="toc-item-num">5.1&nbsp;&nbsp;</span>Calcul avec des sorts</a></span></li><li><span><a href="#Transformation-en-dictionnaire" data-toc-modified-id="Transformation-en-dictionnaire-5.2"><span class="toc-item-num">5.2&nbsp;&nbsp;</span>Transformation en dictionnaire</a></span></li></ul></li><li><span><a href="#Calcul-final-qui-consiste-uniquement-à-requêter-le-résultat-dans-le-dictionnaire-réduit" data-toc-modified-id="Calcul-final-qui-consiste-uniquement-à-requêter-le-résultat-dans-le-dictionnaire-réduit-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Calcul final qui consiste uniquement à requêter le résultat dans le dictionnaire réduit</a></span></li><li><span><a href="#Dimensionnement-et-segmentation-du-problème" data-toc-modified-id="Dimensionnement-et-segmentation-du-problème-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Dimensionnement et segmentation du problème</a></span></li><li><span><a href="#Virement-des-combinaisons" data-toc-modified-id="Virement-des-combinaisons-8"><span class="toc-item-num">8&nbsp;&nbsp;</span>Virement des combinaisons</a></span></li></ul></div>

# Combinaison des propriétés des logements

## Attribution des valeurs de chaque propriété par listes

In [1]:
import numpy as np

list_surface = [110, 120, 130, 140, 150]

list_ceiling_heigh = (2.5 + 0.5 * np.random.random((5, ))).tolist()

list_share_of_windows = [0.3]

list_dwelling_per_floor = np.random.randint(2, 10, size=3).tolist()

list_floors = list(range(2, 10, 2))

## Combinaison des listes de valeurs par une liste à deux dimensions

In [2]:
housing_characters = list()

housing_characters.append(list_surface)

housing_characters.append(list_ceiling_heigh)

housing_characters += [
    list_share_of_windows, list_dwelling_per_floor, list_floors
]

housing_characters

[[110, 120, 130, 140, 150],
 [2.9522879195330676,
  2.756376972059785,
  2.628864360935954,
  2.670649106673581,
  2.9237944587795184],
 [0.3],
 [7, 8, 2],
 range(2, 10, 2)]

In [3]:
len(housing_characters)

5

## Création d’une liste à deux dimensions du produit cartésien

In [4]:
import itertools

cartesian_product = list(itertools.product(*housing_characters))

cartesian_product[:5]

[(110, 2.9522879195330676, 0.3, 7, 2),
 (110, 2.9522879195330676, 0.3, 7, 4),
 (110, 2.9522879195330676, 0.3, 7, 6),
 (110, 2.9522879195330676, 0.3, 7, 8),
 (110, 2.9522879195330676, 0.3, 8, 2)]

In [5]:
len(cartesian_product)

300

In [6]:
len(cartesian_product[0])

5

# Instanciation des logements

## Création d’une classe pour un type de logement

In [7]:
class Collective_Dwelling_CI():
    def __init__(self, a, b, c, d, e):
        self.surface = a
        self.ceiling_heigh = b
        self.share_of_windows = c
        self.dwelling_per_floor = d
        self.floors = e

    def __str__(self):
        return f'\n\nCollective Dwelling CI:' + \
    f'\nSurface: {self.surface},' + \
    f'\nCeiling Heigh: {self.ceiling_heigh},' + \
    f'\nShare of Windows: {self.share_of_windows},' + \
    f'\nDwelling per Floor: {self.dwelling_per_floor},' + \
    f'\nFloors: {self.floors}'

    def __repr__(self):
        return self.__str__()

    def Surface_m(self):
        self.surface_m = (1 - self.share_of_windows) * np.sqrt(
            self.surface * self.dwelling_per_floor
        ) * 4 * self.ceiling_heigh * (self.floors + 1)
        return self.surface_m

    def Dwellings_total(self):
        self.dwellings_total = self.dwelling_per_floor * (self.floors + 1)
        return self.dwellings_total

    def Surface_component_m(self):
        surface_component_m = self.surface_m / self.dwellings_total
        return surface_component_m

    def Final_calculation(self):
        self.result = dict_min[(self.surface, self.floors)]
        return self.result

## Instanciation de la classe de logement à une liste à deux dimensions

In [8]:
dwellings = list()

for _tuple in cartesian_product:
    dwellings.append(Collective_Dwelling_CI(*_tuple))

len(dwellings)

300

In [9]:
dwellings[:5]

[

 Collective Dwelling CI:
 Surface: 110,
 Ceiling Heigh: 2.9522879195330676,
 Share of Windows: 0.3,
 Dwelling per Floor: 7,
 Floors: 2,

 Collective Dwelling CI:
 Surface: 110,
 Ceiling Heigh: 2.9522879195330676,
 Share of Windows: 0.3,
 Dwelling per Floor: 7,
 Floors: 4,

 Collective Dwelling CI:
 Surface: 110,
 Ceiling Heigh: 2.9522879195330676,
 Share of Windows: 0.3,
 Dwelling per Floor: 7,
 Floors: 6,

 Collective Dwelling CI:
 Surface: 110,
 Ceiling Heigh: 2.9522879195330676,
 Share of Windows: 0.3,
 Dwelling per Floor: 7,
 Floors: 8,

 Collective Dwelling CI:
 Surface: 110,
 Ceiling Heigh: 2.9522879195330676,
 Share of Windows: 0.3,
 Dwelling per Floor: 8,
 Floors: 2]

In [10]:
dwellings[0]

Collective Dwelling CI:
Surface: 110,
Ceiling Heigh: 2.9522879195330676,
Share of Windows: 0.3,
Dwelling per Floor: 7,
Floors: 2

In [11]:
dwellings[0].Surface_m()

688.150386428592

In [12]:
dwellings[0].Dwellings_total()

21

In [13]:
dwellings[0].Surface_component_m()

32.76906602040914

# Combinaisons du calcul économique

## Création du DataFrame selon la liste de combinaison des propriétés

In [14]:
import pandas as pd

df = pd.DataFrame(cartesian_product)

df.shape

(300, 5)

In [15]:
df.describe()

                0           1             2           3           4
count  300.000000  300.000000  3.000000e+02  300.000000  300.000000
mean   130.000000    2.786395  3.000000e-01    5.666667    5.000000
std     14.165765    0.130996  1.668117e-15    2.629055    2.239804
min    110.000000    2.628864  3.000000e-01    2.000000    2.000000
25%    120.000000    2.670649  3.000000e-01    2.000000    3.500000
50%    130.000000    2.756377  3.000000e-01    7.000000    5.000000
75%    140.000000    2.923794  3.000000e-01    8.000000    6.500000
max    150.000000    2.952288  3.000000e-01    8.000000    8.000000

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 5 columns):
0    300 non-null int64
1    300 non-null float64
2    300 non-null float64
3    300 non-null int64
4    300 non-null int64
dtypes: float64(2), int64(3)
memory usage: 11.8 KB

## Calcul économique en utilisant des formules uniformes

In [17]:
df.columns = [
    'Surface', 'Ceiling_Heigh', 'Share_of_Windows', 'Dwelling_per_Floor',
    'Floors'
]

df.head()

   Surface  Ceiling_Heigh  Share_of_Windows  Dwelling_per_Floor  Floors
0      110       2.952288               0.3                   7       2
1      110       2.952288               0.3                   7       4
2      110       2.952288               0.3                   7       6
3      110       2.952288               0.3                   7       8
4      110       2.952288               0.3                   8       2

In [18]:
df['Surface_m'] = (1 - df['Share_of_Windows']) * np.sqrt(
    df['Surface'] * df['Dwelling_per_Floor']) * 4 * df['Ceiling_Heigh'] * (
        df['Floors'] + 1)

df['Dwellings_total'] = df['Dwelling_per_Floor'] * (df['Floors'] + 1)

df['Surface_Component_m'] = df['Surface_m'] / df['Dwellings_total']

df.head()

,Surface,Ceiling_Heigh,Share_of_Windows,Dwelling_per_Floor,Floors,Surface_m,Dwellings_total,Surface_Component_m
0,110,2.952288,0.3,7,2,688.150386,21,32.769066
1,110,2.952288,0.3,7,4,1146.917311,35,32.769066
2,110,2.952288,0.3,7,6,1605.684235,49,32.769066
3,110,2.952288,0.3,7,8,2064.451159,63,32.769066
4,110,2.952288,0.3,8,2,735.663708,24,30.652654

## Calcul économique en utilisant des formules à partir de booléen

In [19]:
bool_floors = df.Floors >= 8

df.loc[(bool_floors
        ), 'Dwelling_total_bool'] = df['Dwelling_per_Floor'] * df['Floors']

df.head()

,Surface,Ceiling_Heigh,Share_of_Windows,Dwelling_per_Floor,Floors,Surface_m,Dwellings_total,Surface_Component_m,Dwelling_total_bool
0,110,2.952288,0.3,7,2,688.150386,21,32.769066,NaN
1,110,2.952288,0.3,7,4,1146.917311,35,32.769066,NaN
2,110,2.952288,0.3,7,6,1605.684235,49,32.769066,NaN
3,110,2.952288,0.3,7,8,2064.451159,63,32.769066,56.0
4,110,2.952288,0.3,8,2,735.663708,24,30.652654,NaN

In [20]:
df.loc[~bool_floors, 'Dwelling_total_bool'] = df['Dwelling_per_Floor'] * (
    df['Floors'] + 1)

df.head()

,Surface,Ceiling_Heigh,Share_of_Windows,Dwelling_per_Floor,Floors,Surface_m,Dwellings_total,Surface_Component_m,Dwelling_total_bool
0,110,2.952288,0.3,7,2,688.150386,21,32.769066,21.0
1,110,2.952288,0.3,7,4,1146.917311,35,32.769066,35.0
2,110,2.952288,0.3,7,6,1605.684235,49,32.769066,49.0
3,110,2.952288,0.3,7,8,2064.451159,63,32.769066,56.0
4,110,2.952288,0.3,8,2,735.663708,24,30.652654,24.0

## Calcul économique en utilisant des formules à partir d’un intervalle sélectionné

In [21]:
between_floors = df.Floors.between(2, 6)

df['Dwelling_total_between'] = between_floors * df['Dwelling_per_Floor'] \
* (df['Floors'] + 1) + (1 - between_floors) * df['Dwelling_per_Floor'] * \
df['Floors']

df.head()

,Surface,Ceiling_Heigh,Share_of_Windows,Dwelling_per_Floor,Floors,Surface_m,Dwellings_total,Surface_Component_m,Dwelling_total_bool,Dwelling_total_between
0,110,2.952288,0.3,7,2,688.150386,21,32.769066,21.0,21
1,110,2.952288,0.3,7,4,1146.917311,35,32.769066,35.0,35
2,110,2.952288,0.3,7,6,1605.684235,49,32.769066,49.0,49
3,110,2.952288,0.3,7,8,2064.451159,63,32.769066,56.0,56
4,110,2.952288,0.3,8,2,735.663708,24,30.652654,24.0,24

## Calcul économique en matrice à partir de booléen

In [22]:
matrix = df.values
dwelling_total_matrix = (bool_floors * matrix[:, 4] +
                         (1 - bool_floors) * (matrix[:, 4] + 1)) * \
matrix[:, 3]
df['Dwelling_total_matrix'] = dwelling_total_matrix
df.head()

,Surface,Ceiling_Heigh,Share_of_Windows,Dwelling_per_Floor,Floors,Surface_m,Dwellings_total,Surface_Component_m,Dwelling_total_bool,Dwelling_total_between,Dwelling_total_matrix
0,110,2.952288,0.3,7,2,688.150386,21,32.769066,21.0,21,21.0
1,110,2.952288,0.3,7,4,1146.917311,35,32.769066,35.0,35,35.0
2,110,2.952288,0.3,7,6,1605.684235,49,32.769066,49.0,49,49.0
3,110,2.952288,0.3,7,8,2064.451159,63,32.769066,56.0,56,56.0
4,110,2.952288,0.3,8,2,735.663708,24,30.652654,24.0,24,24.0

In [23]:
df['Modification'] = df.Dwellings_total > dwelling_total_matrix
df.head()

,Surface,Ceiling_Heigh,Share_of_Windows,Dwelling_per_Floor,Floors,Surface_m,Dwellings_total,Surface_Component_m,Dwelling_total_bool,Dwelling_total_between,Dwelling_total_matrix,Modification
0,110,2.952288,0.3,7,2,688.150386,21,32.769066,21.0,21,21.0,False
1,110,2.952288,0.3,7,4,1146.917311,35,32.769066,35.0,35,35.0,False
2,110,2.952288,0.3,7,6,1605.684235,49,32.769066,49.0,49,49.0,False
3,110,2.952288,0.3,7,8,2064.451159,63,32.769066,56.0,56,56.0,True
4,110,2.952288,0.3,8,2,735.663708,24,30.652654,24.0,24,24.0,False

## Calcul économique en utilisant des fonctions

### La bonne performance

In [24]:
dict_hall_info = {False: 'Without Hall', True: 'With Hall'}
dict_hall_info

{False: 'Without Hall', True: 'With Hall'}

In [25]:
%%timeit
df['Hall_Info'] = df.Modification.apply(lambda x: dict_hall_info[x])

403 µs ± 13.4 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [26]:
df.head()

,Surface,Ceiling_Heigh,Share_of_Windows,Dwelling_per_Floor,Floors,Surface_m,Dwellings_total,Surface_Component_m,Dwelling_total_bool,Dwelling_total_between,Dwelling_total_matrix,Modification,Hall_Info
0,110,2.952288,0.3,7,2,688.150386,21,32.769066,21.0,21,21.0,False,Without Hall
1,110,2.952288,0.3,7,4,1146.917311,35,32.769066,35.0,35,35.0,False,Without Hall
2,110,2.952288,0.3,7,6,1605.684235,49,32.769066,49.0,49,49.0,False,Without Hall
3,110,2.952288,0.3,7,8,2064.451159,63,32.769066,56.0,56,56.0,True,With Hall
4,110,2.952288,0.3,8,2,735.663708,24,30.652654,24.0,24,24.0,False,Without Hall

### La mauvaise performance

In [27]:
def func_apply(x):

    if x.Dwelling_total_matrix < x.Dwellings_total:
        return False
    else:
        return True

In [28]:
%%timeit
df['Without_Hall'] = df.apply(lambda x: func_apply(x), axis=1)

8.55 ms ± 330 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [29]:
df.head()

,Surface,Ceiling_Heigh,Share_of_Windows,Dwelling_per_Floor,Floors,Surface_m,Dwellings_total,Surface_Component_m,Dwelling_total_bool,Dwelling_total_between,Dwelling_total_matrix,Modification,Hall_Info,Without_Hall
0,110,2.952288,0.3,7,2,688.150386,21,32.769066,21.0,21,21.0,False,Without Hall,True
1,110,2.952288,0.3,7,4,1146.917311,35,32.769066,35.0,35,35.0,False,Without Hall,True
2,110,2.952288,0.3,7,6,1605.684235,49,32.769066,49.0,49,49.0,False,Without Hall,True
3,110,2.952288,0.3,7,8,2064.451159,63,32.769066,56.0,56,56.0,True,With Hall,False
4,110,2.952288,0.3,8,2,735.663708,24,30.652654,24.0,24,24.0,False,Without Hall,True

# Jointure de table

In [30]:
df_autre = pd.DataFrame(list(itertools.product(*housing_characters[0:2])))
df_autre.shape

(25, 2)

In [31]:
df_autre.head()

     0         1
0  110  2.952288
1  110  2.756377
2  110  2.628864
3  110  2.670649
4  110  2.923794

In [32]:
df_autre.columns = ['Surface', 'Ceiling_Heigh']

dict_size_info = {
    110: 'Small',
    120: 'Middle-Small',
    130: 'Middl',
    140: 'Middl-Large',
    150: 'Large'
}

df_autre['Size_Info'] = df_autre.Surface.apply(lambda x: dict_size_info[x])

df_autre.shape

(25, 3)

In [33]:
df_autre.head()

   Surface  Ceiling_Heigh Size_Info
0      110       2.952288     Small
1      110       2.756377     Small
2      110       2.628864     Small
3      110       2.670649     Small
4      110       2.923794     Small

In [34]:
df = df.merge(df_autre, how='left', on=['Surface', 'Ceiling_Heigh'])
df.shape

(300, 15)

In [35]:
df.head()

,Surface,Ceiling_Heigh,Share_of_Windows,Dwelling_per_Floor,Floors,Surface_m,Dwellings_total,Surface_Component_m,Dwelling_total_bool,Dwelling_total_between,Dwelling_total_matrix,Modification,Hall_Info,Without_Hall,Size_Info
0,110,2.952288,0.3,7,2,688.150386,21,32.769066,21.0,21,21.0,False,Without Hall,True,Small
1,110,2.952288,0.3,7,4,1146.917311,35,32.769066,35.0,35,35.0,False,Without Hall,True,Small
2,110,2.952288,0.3,7,6,1605.684235,49,32.769066,49.0,49,49.0,False,Without Hall,True,Small
3,110,2.952288,0.3,7,8,2064.451159,63,32.769066,56.0,56,56.0,True,With Hall,False,Small
4,110,2.952288,0.3,8,2,735.663708,24,30.652654,24.0,24,24.0,False,Without Hall,True,Small

# Calcul du minimum par logement

## Calcul avec des sorts

In [36]:
essential_properties = ['Surface', 'Floors']
target_value = ['Dwelling_per_Floor']

In [37]:
df_min = df.sort_values(essential_properties + target_value)
df_min.shape

(300, 15)

In [38]:
df_min.head()

,Surface,Ceiling_Heigh,Share_of_Windows,Dwelling_per_Floor,Floors,Surface_m,Dwellings_total,Surface_Component_m,Dwelling_total_bool,Dwelling_total_between,Dwelling_total_matrix,Modification,Hall_Info,Without_Hall,Size_Info
8,110,2.952288,0.3,2,2,367.831854,6,61.305309,6.0,6,6.0,False,Without Hall,True,Small
20,110,2.756377,0.3,2,2,343.422891,6,57.237148,6.0,6,6.0,False,Without Hall,True,Small
32,110,2.628864,0.3,2,2,327.535822,6,54.589304,6.0,6,6.0,False,Without Hall,True,Small
44,110,2.670649,0.3,2,2,332.741873,6,55.456979,6.0,6,6.0,False,Without Hall,True,Small
56,110,2.923794,0.3,2,2,364.281793,6,60.713632,6.0,6,6.0,False,Without Hall,True,Small

In [39]:
df_min_droped = df.sort_values(essential_properties +
                               target_value).drop_duplicates(
                                   tuple(essential_properties))
df_min_droped.shape

(20, 15)

In [40]:
df_min_droped.head()

,Surface,Ceiling_Heigh,Share_of_Windows,Dwelling_per_Floor,Floors,Surface_m,Dwellings_total,Surface_Component_m,Dwelling_total_bool,Dwelling_total_between,Dwelling_total_matrix,Modification,Hall_Info,Without_Hall,Size_Info
8,110,2.952288,0.3,2,2,367.831854,6,61.305309,6.0,6,6.0,False,Without Hall,True,Small
9,110,2.952288,0.3,2,4,613.053090,10,61.305309,10.0,10,10.0,False,Without Hall,True,Small
10,110,2.952288,0.3,2,6,858.274326,14,61.305309,14.0,14,14.0,False,Without Hall,True,Small
11,110,2.952288,0.3,2,8,1103.495561,18,61.305309,16.0,16,16.0,True,With Hall,False,Small
68,120,2.952288,0.3,2,2,384.187841,6,64.031307,6.0,6,6.0,False,Without Hall,True,Middle-Small

## Transformation en dictionnaire

In [41]:
dict_min = df_min_droped.set_index(['Surface',
                                    'Floors']).to_dict(orient='index')
list(dict_min.keys())

dict_keys([(110, 2), (110, 4), (110, 6), (110, 8), (120, 2), (120, 4), (120, 6), (120, 8), (130, 2), (130, 4), (130, 6), (130, 8), (140, 2), (140, 4), (140, 6), (140, 8), (150, 2), (150, 4), (150, 6), (150, 8)])

In [42]:
list(dict_min.values())[:2]

[{'Ceiling_Heigh': 2.9522879195330676,
  'Share_of_Windows': 0.3,
  'Dwelling_per_Floor': 2,
  'Surface_m': 367.83185379884054,
  'Dwellings_total': 6,
  'Surface_Component_m': 61.305308966473426,
  'Dwelling_total_bool': 6.0,
  'Dwelling_total_between': 6,
  'Dwelling_total_matrix': 6.0,
  'Modification': False,
  'Hall_Info': 'Without Hall',
  'Without_Hall': True,
  'Size_Info': 'Small'},
 {'Ceiling_Heigh': 2.9522879195330676,
  'Share_of_Windows': 0.3,
  'Dwelling_per_Floor': 2,
  'Surface_m': 613.0530896647342,
  'Dwellings_total': 10,
  'Surface_Component_m': 61.30530896647342,
  'Dwelling_total_bool': 10.0,
  'Dwelling_total_between': 10,
  'Dwelling_total_matrix': 10.0,
  'Modification': False,
  'Hall_Info': 'Without Hall',
  'Without_Hall': True,
  'Size_Info': 'Small'}]

In [43]:
dict_min[(110, 2)]

{'Ceiling_Heigh': 2.9522879195330676,
 'Share_of_Windows': 0.3,
 'Dwelling_per_Floor': 2,
 'Surface_m': 367.83185379884054,
 'Dwellings_total': 6,
 'Surface_Component_m': 61.305308966473426,
 'Dwelling_total_bool': 6.0,
 'Dwelling_total_between': 6,
 'Dwelling_total_matrix': 6.0,
 'Modification': False,
 'Hall_Info': 'Without Hall',
 'Without_Hall': True,
 'Size_Info': 'Small'}

In [44]:
list(dict_min.items())[:2]

[((110, 2),
  {'Ceiling_Heigh': 2.9522879195330676,
   'Share_of_Windows': 0.3,
   'Dwelling_per_Floor': 2,
   'Surface_m': 367.83185379884054,
   'Dwellings_total': 6,
   'Surface_Component_m': 61.305308966473426,
   'Dwelling_total_bool': 6.0,
   'Dwelling_total_between': 6,
   'Dwelling_total_matrix': 6.0,
   'Modification': False,
   'Hall_Info': 'Without Hall',
   'Without_Hall': True,
   'Size_Info': 'Small'}),
 ((110, 4),
  {'Ceiling_Heigh': 2.9522879195330676,
   'Share_of_Windows': 0.3,
   'Dwelling_per_Floor': 2,
   'Surface_m': 613.0530896647342,
   'Dwellings_total': 10,
   'Surface_Component_m': 61.30530896647342,
   'Dwelling_total_bool': 10.0,
   'Dwelling_total_between': 10,
   'Dwelling_total_matrix': 10.0,
   'Modification': False,
   'Hall_Info': 'Without Hall',
   'Without_Hall': True,
   'Size_Info': 'Small'})]

# Calcul final qui consiste uniquement à requêter le résultat dans le dictionnaire réduit

In [45]:
list_surface_component_m = []
for dwelling in dwellings:
    list_surface_component_m.append(dwelling.Final_calculation())
len(list_surface_component_m)

300

In [46]:
list_surface_component_m[0]

{'Ceiling_Heigh': 2.9522879195330676,
 'Share_of_Windows': 0.3,
 'Dwelling_per_Floor': 2,
 'Surface_m': 367.83185379884054,
 'Dwellings_total': 6,
 'Surface_Component_m': 61.305308966473426,
 'Dwelling_total_bool': 6.0,
 'Dwelling_total_between': 6,
 'Dwelling_total_matrix': 6.0,
 'Modification': False,
 'Hall_Info': 'Without Hall',
 'Without_Hall': True,
 'Size_Info': 'Small'}

# Dimensionnement et segmentation du problème

In [47]:
df_extended = pd.DataFrame()

for i in range(0, 6):
    df_partition = pd.DataFrame(
        cartesian_product,
        columns=[
            'Surface', 'Ceiling_Heigh', 'Share_of_Windows',
            'Dwelling_per_Floor', 'Floors'
        ]).iloc[int((300 / 6) * i):int((300 / 6) * (i + 1)), :]
    df_extended = pd.concat([df_extended, df_partition], axis=0)
df_extended.shape

(300, 5)

In [48]:
df_extended.iloc[250:, :].head()

     Surface  Ceiling_Heigh  Share_of_Windows  Dwelling_per_Floor  Floors
250      150       2.952288               0.3                   2       6
251      150       2.952288               0.3                   2       8
252      150       2.756377               0.3                   7       2
253      150       2.756377               0.3                   7       4
254      150       2.756377               0.3                   7       6

In [49]:
df_partition.shape

(50, 5)

In [50]:
df_partition.head()

     Surface  Ceiling_Heigh  Share_of_Windows  Dwelling_per_Floor  Floors
250      150       2.952288               0.3                   2       6
251      150       2.952288               0.3                   2       8
252      150       2.756377               0.3                   7       2
253      150       2.756377               0.3                   7       4
254      150       2.756377               0.3                   7       6

# Virement des combinaisons

In [51]:
combination_to_ignore = (110, 6)

In [52]:
list_filtered = [element for element in cartesian_product if not \
                 set(combination_to_ignore) < set(element)]
len(list_filtered)

285

In [53]:
list_filtered[:10]

[(110, 2.9522879195330676, 0.3, 7, 2),
 (110, 2.9522879195330676, 0.3, 7, 4),
 (110, 2.9522879195330676, 0.3, 7, 8),
 (110, 2.9522879195330676, 0.3, 8, 2),
 (110, 2.9522879195330676, 0.3, 8, 4),
 (110, 2.9522879195330676, 0.3, 8, 8),
 (110, 2.9522879195330676, 0.3, 2, 2),
 (110, 2.9522879195330676, 0.3, 2, 4),
 (110, 2.9522879195330676, 0.3, 2, 8),
 (110, 2.756376972059785, 0.3, 7, 2)]